.admin-link-container {
  width: 10vw;
  height: 100vh;
  background-color: navy;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li {
  color: white;
  list-style: none;
}

.adminMain {
  width: 10vw;
}
